.layout {
  height: 100%;
}

.header {
  &-box {
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }

  &-logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background-color: cyan;
  }
 
}
